<div>
  <h2>Register</h2>
<form (ngSubmit)="register()">
  <div class="form-group m-2 p-2">
    <label class="form-label" for="username">Username</label>
    <input class="form-control" [(ngModel)]="username" type="text" name="username" id="username" required>
  </div>
  <div class="form-group m-2 p-2">
    <label class="form-label" for="password">Password</label>
    <input class="form-control" [(ngModel)]="password" type="password" name="password" id="password" required>
  </div>
  <div class="form-group m-2 p-2">
    <label class="form-label" for="first_name">First name</label>
    <input class="form-control" [(ngModel)]="first_name" type="text" name="first_name" id="first_name" required>
  </div>
  <div class="form-group m-2 p-2">
    <label class="form-label" for="last_name">Last name</label>
    <input class="form-control" [(ngModel)]="last_name" type="text" name="last_name" id="last_name" required>
  </div>
  <div class="form-group m-2 p-2">
    <label class="form-label" for="email">E-mail</label>
    <input class="form-control" [(ngModel)]="email" type="text" name="email" id="email" required>
  </div>
  
  

<div class="form-group m-2 p-2">
    <input type="checkbox" id="adminToggle" [(ngModel)]="isAdminRegistration" name="adminToggle">
    <label for="adminToggle">Register as Admin</label>
  </div>
  <div class="form-group m-2 p-2" *ngIf="isAdminRegistration">
    <label class="form-label" for="adminKey">Admin Key</label>
    <input class="form-control" type="text" name="adminKey" id="adminKey" [(ngModel)]="adminKey">
  </div>
  <div class="form-group m-2 p-2">
    <button class="btn btn-dark" type="submit">Register</button>
  </div>
</form>
</div>

