

    <div class="container mt-0">
    <div class="card">
    <div class="card-header">
        Statistics for {{selectedUsername}}
      </div>
      <div class="card-body">
        <div class="card" style="float :right; width: 49%;">

            <div class="card-body">
                <h3 class="card-title">Scores:</h3>
                <p class="card-text">On easy level:
                    <span style="font-size: 24px;">{{stats.easyScore}} %</span>
                </p>
                <p class="card-text">On medium level:
                    <span style="font-size: 24px;">{{stats.mediumScore}} %</span>
                </p>
                <p class="card-text">On hard level:
                    <span style="font-size: 24px;">{{stats.hardScore}} %</span>
                </p>
                </div>


        </div>

        <p class="card-text">Number of quizzes taken:
            <span style="font-size: 24px;">{{stats.gamePlayed}}</span>
        </p>
        <p class="card-text">Favourite category:
            <span style="font-size: 24px;">{{stats.favouriteCategory}}</span>
        </p>
        <p class="card-text">Preferred length:
            <span style="font-size: 24px;">{{stats.preferredLength}} questions</span>
        </p>
        <p class="card-text">How many quizzes with 100% score:
            <span style="font-size: 24px;">{{stats.flawlessCount}}</span>
        </p>


      </div>

      <div>
        <h6 style="margin-left: 15px;">Results by preferred categories:</h6>
        <div *ngFor="let result of resultsByCategory" class="card mb-3 col-md col-xl-" style="margin-left: 15px; margin-right: 15px;">
            <div class="card-body">
           <p><span style = "font-size: 24px;">{{result.category}}</span> <span style="float: right;">score: <span style="font-size: 24px;">{{result.score}} %</span></span>
            <p>Number of quizzes: {{result.quizzesTotal}},
            with total of {{result.questionsTotal}} questions.</p>

        </div>
        </div>
    </div>

      <div class="card-footer text-muted">
        Last time played: {{stats.lastTimePlayed}}
      </div>
</div>
</div>



<div style="margin-top: 25px; margin-left: 12px;">
<button class="btn btn-dark" (click) ="onCloseStats()">Close</button>
</div>
