.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10rem;
}

.home-container > div {
  width: 50%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
