<div class="center">
  <div class="home-container">
    <h1>Welcome to Java Quiz</h1>
    <p>Welcome to Java Quiz App! Test your knowledge and sharpen your skills with our learning tool. Create custom quizzes to challenge yourself, solve and replay quizzes to track your progress, and suggest your own questions to contribute to the community. Save your quizzes, monitor your improvement, and enjoy a personalized learning experience. Click "Get Started" to begin your journey towards mastering Java!</p>

    <div style="margin-top: 3rem">
      <div class="button-container">
        <button class="form-control btn btn-dark w-75" routerLink="/login">Get started!</button>
      </div>
    </div>
  </div>
</div>
