/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo {
  width: 130px;
  height: auto;
}

.section-35 {
  width: 35%;
  min-width: 390px;
}

.section-50 {
  width: 50%;
  min-width: 390px;
}

@media (max-width: 768px) {
  .section-35 {
    width: 95%;
    min-width: 275px;
  }

  .section-50 {
    width: 95%;
    min-width: 275px;
  }
}
